<mat-grid-list cols="4">
  <mat-grid-tile colspan="4">
    <mat-card>
      <mat-card-content>
        <h2>Detalle de Gastos</h2>
        <button mat-flat-button color="primary" (click)="gastoPadre.emit({gasto, balance})">Guardar Presupuesto</button>
        <hr />
        <div class="example-container">
          <form>
            <div class="main-gastos">
              <mat-form-field appearance="fill">
                <mat-label>Presupuesto</mat-label>
                <input matInput placeholder="Nombre del gasto"  readonly [value]="presupuesto"/>
              </mat-form-field>
              &nbsp;

              <mat-form-field appearance="fill">
                <mat-label>Total de Gastos</mat-label>
                <input matInput placeholder="Nombre del gasto" readonly [value]="gasto"/>
              </mat-form-field>
              &nbsp;

              <mat-form-field appearance="fill">
                <mat-label>Balance</mat-label>
                <input matInput placeholder="Nombre del gasto" readonly [value]="balance"/>
              </mat-form-field>
              &nbsp;
            </div>
            <br />
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <!-- <mat-grid-tile colspan="4">2</mat-grid-tile> -->
</mat-grid-list>
