<h1 mat-dialog-title align="center">Editar gasto</h1>
<div mat-dialog-content>
    <mat-grid-list cols="12">
        <mat-grid-tile colspan="12">
            <mat-card>
                <mat-card-content>
                    <br>
                    <hr />
                    <div>
                        <form [formGroup]="formularioGastosEdicion">
                            <div class="main-gastos">
                                <mat-form-field appearance="fill">
                                    <mat-label>Nombre</mat-label>
                                    <input matInput placeholder="Nombre del gasto" formControlName="nombre" />
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field appearance="fill">
                                    <mat-label>Categoría</mat-label>
                                    <mat-select required formControlName="categoria"
                                        placeholder="Seleccione una categoría">
                                        <mat-option *ngFor="let i of categorias" value="{{ i.nombre }}">{{ i.nombre }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                &nbsp;
                                <mat-form-field appearance="fill">
                                    <mat-label>Monto:</mat-label>
                                    <input matInput placeholder="Ingrese Monto" type="number" formControlName="monto" />
                                </mat-form-field>
                            </div>
                        </form>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions align="center">
    <button mat-button color="warn" (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="formularioGastosEdicion.value" cdkFocusInitial>Confirmar</button>
</div>