<mat-grid-list cols="4">
  <mat-grid-tile colspan="4">
    <mat-card>
      <mat-card-content>
        <h2>Ingresar Gastos</h2>
        <hr />
        <div class="example-container">
          <form [formGroup]="formularioGastos" (ngSubmit)="(agregarGasto)">
            <div class="main-gastos">
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  placeholder="Nombre del gasto"
                  formControlName="nombre"
                />
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select
                  required
                  formControlName="categoria"
                  placeholder="Seleccione una categoría"
                >
                  <mat-option
                    *ngFor="let i of categorias"
                    value="{{ i.nombre }}"
                    >{{ i.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Monto:</mat-label>
                <input
                  matInput
                  placeholder="Ingrese Monto"
                  type="number"
                  formControlName="monto"
                />
              </mat-form-field>
              &nbsp;
              <button mat-fab color="primary" (click)="agregarGasto()">
                <mat-icon mat-icon>add</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
