<mat-grid-list cols="12">
  <mat-grid-tile colspan="12">
    <mat-card>
      <mat-card-content>
        <br />
        <h2>Ingresar Gastos</h2>
        <hr />
        <div>
          <form [formGroup]="formularioGastos">
            <div class="main-gastos">
              <mat-form-field appearance="fill">
                <mat-label>Nombre</mat-label>
                <input
                  matInput
                  placeholder="Nombre del gasto"
                  formControlName="nombre"
                />
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select
                  required
                  formControlName="categoria"
                  placeholder="Seleccione una categoría"
                >
                  <mat-option
                    *ngFor="let i of categorias"
                    value="{{ i.nombre }}"
                    >{{ i.nombre }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              &nbsp;
              <mat-form-field appearance="fill">
                <mat-label>Monto:</mat-label>
                <input
                  matInput
                  placeholder="Ingrese Monto"
                  type="number"
                  formControlName="monto"
                />
              </mat-form-field>
              &nbsp;
              <button mat-fab color="primary" (click)="agregarGasto()">
                <mat-icon mat-icon>add</mat-icon>
              </button>
            </div>
          </form>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile colspan="12">
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="arrayGastos">
          <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef>Nombre</mat-header-cell>
            <mat-cell *matCellDef="let contact">
              {{ contact.nombre | titlecase }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="categoria">
            <mat-header-cell *matHeaderCellDef>Categoría</mat-header-cell>
            <mat-cell *matCellDef="let contact">
              {{ contact.categoria | titlecase }}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="monto">
            <mat-header-cell *matHeaderCellDef>Monto</mat-header-cell>
            <mat-cell *matCellDef="let contact">
              {{ contact.monto }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let contact; let i = index">
              <button
                mat-flat-button
                color="accent"
                (click)="openDialog(contact)"
              >
                Editar
              </button>
              &nbsp;
              <button
                mat-flat-button
                color="warn"
                (click)="eliminarGasto(contact)"
              >
                Delete
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
<app-detalle-gasto
  [presupuesto]="presupuesto.presupuesto || 0"
  (gastoPadre)="actualizarPresupuesto($event)"
></app-detalle-gasto>
