
    <div class="">
        <h1 mat-h1 class="text-center">Ingresar Presupuesto:</h1>
        <mat-card>
            <mat-card-content >
                <form [formGroup]="formularioPresupuesto" 
                        (ngSubmit)="agregarPresupuesto" 
                        class="form-container"
                        [ngStyle]="{ 'margin-left': '30%' }"
                        >
                    <mat-form-field class="wide-input">
                        <mat-label>Monto del Presupuesto:</mat-label>
                        <input  matInput 
                                type="number" 
                                class="wide-input" 
                                placeholder="0" 
                                formControlName="presupuesto"
                                required>
                        <mat-error *ngIf="!formularioPresupuesto.get('presupuesto')?.valid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
            
                    <mat-form-field appearance="fill">
                        <mat-label>Divisa </mat-label>
                        <input matInput type="text" formControlName="divisa">
                    </mat-form-field>
                    <button
                        #submitButton
                        matInput
                        mat-flat-button
                        [ngStyle]="{
                        'margin-top': '-18px',
                        'margin-left': '10px',
                        padding: '28px'
                        }"
                        color="accent"
                        type="submit"
                        (click)=" agregarPresupuesto()"
                        >+ Agregar</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

